@font-face {
    font-family: 'P5';
    src: url('fonts/Persona5MenuFontPrototype-Regular.ttf') format('truetype');
}

body {
    background-color: #00AEEF; 
    color: #FFFFFF; 
    font-family: 'Arial', sans-serif; 
    margin: 0;
    padding: 0;
}

.triangulo {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 70vw 89vh 0; 
    border-color: transparent rgb(43, 38, 38);
    position: absolute;
    top: 0;
    right: 0;
    z-index: -11; 
}

.menu {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    z-index: 2;
}

.menu_resultados{
    background-color: rgba(0, 0, 0, 0.5); 
    padding: 20px;
    margin-left: 200px;
    border-radius: 10px;
    text-align: center;
}

.copiar {
    font-family: 'P5';
    color: #000000;
    font-size: 25px;
    padding: 10px 20px;
    background-color: #007BFF;
    border: none;
    cursor: pointer;
    position: relative;
    transition: transform 0.2s;
    z-index: 2;
}

.copiar:hover {
    background-color: transparent;
    transition: all 0.5s ease;
}

.copiar::before, .copiar::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    transition: all 0.5s ease;
    z-index: -1;
}

.copiar::before {
    border-width: 0 1px 1px 0;
    border-color: transparent #000;
    top: -260%;
    left: -420%;
}

.copiar::after {
    border-width: 1px 0 0 1px;
    border-color: transparent #2a98d8;
    bottom: -100%;
    right: 470%;
}

.copiar:hover::before {
    top: -40px;
    left: -1px;
    border-width: 0 90px 90px 0;
    transform: rotate(120deg);
}

.copiar:hover::after {
    bottom: -32px;
    right: 3px;
    border-width: 80px 0 0 80px;
    transform: rotate(130deg);
}

.menu_principal {
    background-color: rgba(0, 0, 0, 0.5); 
    padding: 20px;
    margin-right: 100px;
    border-radius: 10px;
    text-align: center;
}

textarea {
    width: 85%;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid #FFFFFF;
    border-radius: 5px;
    padding: 10px;
    margin: 20px;
    margin-bottom: 20px;
    font-size: 16px;
    z-index: 1;
}

.opciones {
    display: flex;
    justify-content: space-around;
    gap: 60px;
    padding-top: 50px;
    padding-bottom: 20px;
}

.boton_encriptar {
    font-family:'P5';
    color: #FFFFFF;
    font-size: 28px;
    position: relative;
    padding: 10px 20px;
    border: none;
    background-color: #007BFF;
    cursor: pointer;
    z-index: 2;
}

.boton_encriptar:hover {
    background-color: transparent;
    transition: all 0.5s ease;
}

.boton_encriptar::before, .boton_encriptar::after {
    content: '';
    position: absolute;
    width: 1px;
    height: 1px;
    transform: rotate(45deg); 
    transition: all 0.5s ease; 
    z-index: -1; 
}

.boton_encriptar::before {
    top: -400px;
    left: -50px;
}

.boton_encriptar::after {
    bottom: -300px;
    right: -50px;
}

.boton_encriptar:hover::before {
    top: -16px;
    left: 40px;
    width: 70px;
    height: 70px;
    background-color: #000000; 
    transform: rotate(60deg) scale(1.5); 
}

.boton_encriptar:hover::after {
    bottom: -7px;
    right: 5px;
    width: 125px;
    height: 60px;
    background-color: #2a98d8; 
    transform: rotate(30deg); 
}

.boton_desencriptar {
    font-family:'P5';
    color: #FFFFFF;
    font-size: 28px;
    position: relative;
    padding: 10px 20px;
    border: none;
    background-color: #007BFF; 
    cursor: pointer;
    z-index: 2;
}

.boton_desencriptar:hover {
    background-color: transparent;
    transition: all 0.5s ease;
}

.boton_desencriptar::before, .boton_desencriptar::after {
    content: '';
    position: absolute;
    width: 1px;
    height: 1px;
    transform: rotate(0deg);
    transition: all 0.7s ease;
    z-index: -1;
}

.boton_desencriptar::before {
    top: -500%;
    left: 210%;
}

.boton_desencriptar::after {
    bottom: -300%;
    right: -115%;
}

.boton_desencriptar:hover::before {
    top: -3px;
    left: 16px;
    width: 120px;
    height: 68px;
    background-color: #000000;
    transform: rotate(150deg);
}

.boton_desencriptar:hover::after {
    bottom: 2px;
    right: 25px;
    width: 145px;
    height: 70px;
    background-color: #2a98d8;
    transform: rotate(140deg);
}

.texto_boton {
    position: relative;
    z-index: 1;
    transition: all 0.5s ease; 
}


.boton_encriptar:hover .texto_boton {
    transform: rotate(20deg);
    background-image: linear-gradient(
        150deg,
        #0b8813,
        #222222,
        #2abf0c
    );
    background-clip: text;
    color: transparent;
}

.boton_desencriptar:hover .texto_boton {
    transform: rotate(-20deg);
    background-image: linear-gradient(
        150deg,
        #0b8813,
        #222222,
        #2abf0c
    );
    background-clip: text;
    color: transparent; 
}

.copiar .texto_boton {
    position: relative;
    display: inline-block;
    transition: all 0.5s ease; 
}

.copiar:hover .texto_boton {
    transform: rotate(-25deg); 
    background-image: linear-gradient(
        150deg,
        #0b7c13,
        #222222,
        #2abf0c
    );
    background-clip: text;
    color: transparent; 
}

.boton_encriptar, .boton_desencriptar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer p {
    text-align: center;
    color: #FFFFFF;
    font-size: 14px;
    margin-top: 20px;
}

.menu_principal {
    animation: slideIn 0.5s ease-out;
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
