@font-face {
    font-family: 'P5';
    src: url('fonts/Persona5MenuFontPrototype-Regular.ttf') format('truetype');
}

body {
    background-color: #00AEEF; 
    color: #FFFFFF; 
    font-family: 'Arial', sans-serif; 
    margin: 0;
    padding: 0;
    overflow: hidden; 
    position: relative;
}

.hoja {
    position: absolute;
    width: 30px;
    height: 25px;
    background-image: url('assets/icone-de-feuille-rose.png');
    background-size: cover;
    opacity: 0.8;
    z-index: 1;
    animation: caerHojas linear infinite;
}

.triangulo {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 65vw 95vh 0; 
    border-color: transparent rgb(43, 38, 38);
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2; 
}

.menu {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    z-index: 3;
}

.menu_resultados{
    background-color: rgba(0, 0, 0, 0.5); 
    padding: 20px;
    margin-left: 200px;
    border-radius: 10px;
    text-align: center;
}

.copiar {
    font-family: 'P5';
    color: #000000;
    font-size: 25px;
    padding: 10px 20px;
    background-color: #007BFF;
    border-style: double;
    border-color: rgb(255, 255, 255);
    cursor: pointer;
    position: relative;
    transition: transform 0.2s;
    z-index: 2;
}

.copiar:hover {
    background-color: transparent;
    transition: all 0.5s ease;
    border: none;
}

.copiar::before, .copiar::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    transition: all 0.5s ease;
    z-index: -1;
}

.copiar::before {
    border-width: 0 1px 1px 0;
    border-color: transparent #000;
    top: -260%;
    left: -420%;
}

.copiar::after {
    border-width: 1px 0 0 1px;
    border-color: transparent #2a98d8;
    bottom: -100%;
    right: 470%;
}

.copiar:hover::before {
    top: -40px;
    left: -1px;
    border-width: 0 90px 90px 0;
    transform: rotate(120deg);
}

.copiar:hover::after {
    bottom: -32px;
    right: 3px;
    border-width: 80px 0 0 80px;
    transform: rotate(130deg);
}

.menu_principal {
    background-color: rgba(0, 0, 0, 0.5); 
    padding: 20px;
    margin-right: 100px;
    border-radius: 10px;
    text-align: center;
}

textarea {
    width: 85%;
    height: 100px;
    color: #FFFFFF;
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid #FFFFFF;
    border-radius: 5px;
    padding: 10px;
    margin: 20px;
    margin-bottom: 20px;
    font-size: 16px;
    z-index: 1;
}

.opciones {
    display: flex;
    justify-content: space-around;
    gap: 60px;
    padding-top: 50px;
    padding-bottom: 20px;
}

.boton_encriptar {
    font-family:'P5';
    color: #FFFFFF;
    font-size: 28px;
    position: relative;
    padding: 10px 20px;
    border-style: double;
    border-color: #FFFFFFFF;
    background-color: #007BFF;
    cursor: pointer;
    z-index: 2;
}

.boton_encriptar:hover {
    background-color: transparent;
    border-style: none;
    transition: all 0.5s ease;
}

.boton_encriptar::before, .boton_encriptar::after {
    content: '';
    position: absolute;
    width: 1px;
    height: 1px;
    transform: rotate(45deg); 
    transition: all 0.5s ease; 
    z-index: -1; 
}

.boton_encriptar::before {
    top: -400px;
    left: -50px;
}

.boton_encriptar::after {
    bottom: -300px;
    right: -50px;
}

.boton_encriptar:hover::before {
    top: -16px;
    left: 40px;
    width: 70px;
    height: 70px;
    background-color: #000000; 
    transform: rotate(60deg) scale(1.5); 
}

.boton_encriptar:hover::after {
    bottom: -7px;
    right: 5px;
    width: 125px;
    height: 60px;
    background-color: #2a98d8; 
    transform: rotate(30deg); 
}

.boton_desencriptar {
    font-family:'P5';
    color: #FFFFFF;
    font-size: 28px;
    position: relative;
    padding: 10px 20px;
    border-style: double;
    border-color: #FFFFFFFF;
    background-color: #007BFF; 
    cursor: pointer;
    z-index: 2;
}

.boton_desencriptar:hover {
    background-color: transparent;
    border: none;
    transition: all 0.5s ease;
}

.boton_desencriptar::before, .boton_desencriptar::after {
    content: '';
    position: absolute;
    width: 1px;
    height: 1px;
    transform: rotate(0deg);
    transition: all 0.7s ease;
    z-index: -1;
}

.boton_desencriptar::before {
    top: -500%;
    left: 210%;
}

.boton_desencriptar::after {
    bottom: -300%;
    right: -115%;
}

.boton_desencriptar:hover::before {
    top: -3px;
    left: 16px;
    width: 120px;
    height: 68px;
    background-color: #000000;
    transform: rotate(150deg);
}

.boton_desencriptar:hover::after {
    bottom: 2px;
    right: 25px;
    width: 145px;
    height: 70px;
    background-color: #2a98d8;
    transform: rotate(140deg);
}

.texto_boton {
    position: relative;
    z-index: 1;
    transition: all 0.5s ease; 
}


.boton_encriptar:hover .texto_boton {
    transform: rotate(20deg);
    background-image: linear-gradient(
        150deg,
        #0b8813,
        #222222,
        #2abf0c
    );
    background-clip: text;
    color: transparent;
}

.boton_desencriptar:hover .texto_boton {
    transform: rotate(-20deg);
    background-image: linear-gradient(
        150deg,
        #0b8813,
        #222222,
        #2abf0c
    );
    background-clip: text;
    color: transparent; 
}

.copiar .texto_boton {
    position: relative;
    display: inline-block;
    transition: all 0.5s ease; 
}

.copiar:hover .texto_boton {
    transform: rotate(-25deg); 
    background-image: linear-gradient(
        150deg,
        #0b7c13,
        #222222,
        #2abf0c
    );
    background-clip: text;
    color: transparent; 
}

.boton_encriptar, .boton_desencriptar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu_principal {
    animation: slideIn 0.5s ease-out;
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes caerHojas {
    0% {
        transform: translateY(-100%) translateX(0) rotate(0deg);
        opacity: 1;
    }
    100% {
        transform: translateY(100vh) translateX(-30vw) rotate(360deg); 
        opacity: 0;
    }
}

@media (max-width: 1500px) {
    .menu {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .menu_principal{
        margin: 15px 5px;
        padding: 10px;
        width: 95%;
    }

    .opciones {
        flex-direction: column;
        gap: 70px;
        padding-left: 250px;
        padding-bottom: 40px;
    }

    .resultado{
        padding-bottom: 30px;
        font-size: 20px;
    }

    .menu_resultados {
        margin: 15px 5px;
        padding: 10px;
        width: 95%;
        padding-bottom: 30px;
    }

    .copiar {
        font-size: 28px;
        padding: 20px;
    }

    .copiar:hover::before {
        top: -25px;
        left: -1px;
        border-width: 0 90px 90px 0;
        transform: rotate(130deg);
    }

    .copiar:hover::after {
        bottom: -24px;
        right: -10px;
        border-width: 90px 0 0 90px;
        transform: rotate(140deg);
    }

    .boton_encriptar, .boton_desencriptar {
        width: 250px;
        font-size: 34px;
    }

    .boton_encriptar:hover {
        background-color: transparent;
        transition: all 0.5s ease;
        font-size: 45px;
    }

    .boton_encriptar:hover::before {
        top: -40px;
        left: 20px;
        width: 110px;
        height: 110px;
        transform: rotate(60deg); 
    }
    
    .boton_encriptar:hover::after {
        bottom: -15px;
        right: 8px;
        width: 130px;
        height: 70px;
        transform: rotate(30deg); 
    }

    .boton_desencriptar:hover {
        background-color: transparent;
        transition: all 0.5s ease;
        font-size: 45px;
    }
    
    .boton_desencriptar::before {
        top: -1%;
        left: 194%;
    }
    
    .boton_desencriptar::after {
        bottom: -60%;
        right: -98%;
    }
    
    .boton_desencriptar:hover::before {
        top: 30px;
        left: -30px;
        width: 200px;
        height: 50px;
        transform: rotate(160deg);
    }
    
    .boton_desencriptar:hover::after {
        bottom: 30px;
        right: -40px;
        width: 200px;
        height: 60px;
        transform: rotate(150deg);
    }
    
    textarea {
        width: 600px;
        font-size: 14px;
    }

    .triangulo {
        border-width: 0 90vw 65vh 0;
        } 
}

@media (max-width: 500px) {
    .menu {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .menu_principal {
        margin: 10px 0px;
        padding: 10px;
        width: 340px;
    }

    .menu_resultados {
        margin: 10px 0px;
        padding: 10px;
        padding-bottom: 20px;
        width: 330px;
    }

    .copiar {
        font-size: 28px;
        padding: 20px;
    }

    .opciones {
        flex-direction: column;
        gap: 80px;
        padding-left: 70px;
    }

    .boton_encriptar, .boton_desencriptar {
        width: 200px;
        font-size: 25px;
        padding: 20px;
    }

    .boton_encriptar:hover {
        background-color: transparent;
        transition: all 0.5s ease;
        font-size: 32px;
    }

    .boton_encriptar:hover::before {
        top: -30px;
        left: 30px;
        width: 90px;
        height: 100px;
        transform: rotate(60deg); 
    }
    
    .boton_encriptar:hover::after {
        bottom: -1px;
        right: 20px;
        width: 120px;
        height: 60px;
        transform: rotate(30deg); 
    }
    
    .boton_desencriptar:hover {
        background-color: transparent;
        transition: all 0.5s ease;
        font-size: 35px;
    }
    
    .boton_desencriptar::before {
        top: -1%;
        left: 130%;
    }
    
    .boton_desencriptar::after {
        bottom: -60%;
        right: -35%;
    }
    
    .boton_desencriptar:hover::before {
        top: 30px;
        left: -20px;
        width: 150px;
        height: 50px;
        transform: rotate(160deg);
    }
    
    .boton_desencriptar:hover::after {
        bottom: 40px;
        right: -20px;
        width: 130px;
        height: 50px;
        transform: rotate(150deg);
    }

    textarea {
        width: 250px;
        font-size: 12px;
    }
    
    .triangulo {
    border-width: 0 90vw 65vh 0;
    } 
}